.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100dvw;
  color: white;
  flex-grow: 1;

  .wallpaper {
    height: 100%;
    position: relative;
    width: 100%;
    height: 150px;

    img {
      width: 100%;
      height: 150px;
      min-height: 150px;
      min-width: 100%;
      object-fit: cover;
      background-color: var(--color-mid);
    }
  }

  .page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100dvw;
    position: relative;
    border-top: var(--outline);

    @media (max-width: 768px) {
      align-items: center;
      flex-direction: column;
    }

    .profile{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
      margin: 0 20px;
      gap: 15px;

      @media (max-width: 768px) {
        align-items: center;
        margin: unset;
      }

      .icon {
        width: 180px;
        height: 180px;
        border: 5px solid var(--color-darkest);
        border-radius: 17px;
        margin-top: -90px;
        background-color: var(--color-darkest);
        z-index: 1;

        img {
          width: 100%;
          height: 100%;
          border-radius: 12px;
          object-fit: cover;
        }
      }

      .name {
        gap: 8px;
        display: flex;
        flex-direction: column;

        .displayName {
          font-size: 1.2rem;
          font-family: 'Dogica Pixel', Arial, Helvetica, sans-serif;
          display: flex;
          align-items: center;
        }
      }

      .badges {
        display: flex;
        gap: 4px;
      }
    }

    .moreInfo{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: stretch;
      justify-content: flex-start;
      gap: 15px;
      width: 100dvw;
      padding-top: 10px;
      padding-right: 10px;

      @media (max-width: 768px) {
        flex-direction: column;
        margin-top: 10px;
        padding: 20px;
      }

      .infoBox {
        max-width: -webkit-fill-available;

        @media (max-width: 768px) {
          max-width: unset;
          min-height: 50px;
        }
      }

      #description {
        span, textarea {
          background: none;
          border: none;
          flex-grow: 1;
        }
      }

      #pixelsInfo {
        justify-content: space-between;
        align-items: center;
      }

    }
  }

}

.infoBox {
  display: flex !important;
  align-items: center !important;
  gap: 1rem !important;
  border-radius: 22px !important;
  transition: var(--smooth-transition) !important;
  padding: 10px !important;
  border: 1px solid var(--color-outline) !important;
  background: var(--color-mid) !important;
  margin: 0 !important;
  box-shadow: var(--shadow) !important;
  position: relative !important;
  flex-grow: 1 !important;
}