.btn {
  background-color: var(--color-accent);
  color: white;
  border: var(--outline);
  box-shadow: var(--shadow);
  padding: 18px;
  border-radius: 12px;
  transition: var(--smooth-transition);
  width: 215px;
}

.btn:hover {
  background-color: var(--color-darker);
  scale: var(--hover-scale);
}