/* formato dos botões gerais */
.button {
  box-shadow: var(--shadow);
  border-radius: 12px;
  transition: var(--smooth-transition);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: center;
  font-size: medium;
  --btn-text-light: hsla(0, 0%, 100%, 75%);
  --btn-text-dark: hsla(0, 0%, 25%, 75%);
}

.button:hover {
  scale: var(--hover-scale);
}

/* cores e aspectos */
.button.primary {
  background-color: var(--btn-color, var(--color-accent));
  color: var(--btn-text, var(--btn-text-light));
  border: var(--outline);
}

.button.primary:hover {
  background-color: var(--btn-color-hover, var(--color-accent-hover));
  color: var(--btn-text-hover, var(--btn-text-light));
}

.button.secondary {
  background-color: transparent;
  color: var(--btn-color, var(--color-accent));
  border: 1px solid var(--btn-color, var(--color-accent));
}

.button.secondary:hover {
  background-color: var(--btn-color-hover, var(--color-accent-hover));
  border: var(--outline);
  color: var(--btn-text-hover, var(--btn-text-light));
}

.button.tertiary {
  box-shadow: none;
  color: var(--btn-color, var(--color-accent));
  border: none;
  background: transparent;
}

/* paddings */
.button.lowestPadding {
  padding: 5px 10px;
}

.button.lowerPadding {
  padding: 10px 12px;
}

.button.regularPadding {
  padding: 18px;
}


/* desabilitado */
.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  scale: 1;
}

.button:disabled:hover {
  background-color: var(--btn-color, var(--color-accent));
}