/* formato dos botões gerais */
.button {
  box-shadow: var(--shadow);
  padding: 18px;
  border-radius: 12px;
  transition: var(--smooth-transition);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: center;
}
.button:hover {
  scale: var(--hover-scale);
}

/* cores e aspectos */
.button.primary {
  background-color: var(--btn-color, var(--color-accent));
  color: white;
  border: var(--outline);
}
.button.primary:hover {
  background-color: var(--btn-color-hover, var(--color-accent-hover));
}

.button.secondary {
  background-color: transparent;
  color: var(--btn-color, var(--color-accent));
  border: 1px solid var(--btn-color, var(--color-accent));
}
.button.secondary:hover {
  background-color: var(--btn-color-hover, var(--color-accent-hover));
  border: var(--outline);
  color: white;
}

.button.tertiary {
  box-shadow: none;
  color: var(--btn-color, var(--color-accent));
  border: none;
  background: transparent;
}


/* desabilitado */
.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  scale: 1;
}