
.factionCard {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--color-mid);
    border: var(--outline);
    border-radius: 23px;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #d0e6ff;
    transition: var(--smooth-transition);
    padding: 15px;
    margin: 15px;
    box-shadow: var(--shadow);

    .factionIcon {
        rotate: 45deg;
        border: 2px solid var(--color-muted);
        border-radius: 12px;
        margin: 10px;
        background: var(--color-darkest);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 54px;
        height: 54px;

        img {
            width: 64px;
            height: 64px;
            object-fit: cover;
            rotate: -45deg;
        }
    }

    .factionInfo {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        position: relative;

        .factionName {
            font-size: 1.25rem;
            font-weight: 600;
            color: var(--color-muted);
            white-space: nowrap;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            span {
                max-width: 256px;
                text-overflow: ellipsis;
                overflow: hidden;
                margin-right: 7px;
                display: flex;
                flex-direction: row;
            }
        }

        .buttonsContainer {
            display: flex;
            gap: 8px;
            height: min-content;
        }
    }

}
.factionCard:hover {
    transform: translateY(-4px);
}