#main {
    width: 100dvw;
    height: calc(100dvh - 72px);
    overflow: hidden;
    position: relative;
    touch-action: none;
    background: radial-gradient(circle at 60% 100%, #2b0b0b, #0d0404);
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-height: 500px) and (orientation: landscape) {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
    }
}