
.guildCard {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--color-mid);
    border: var(--outline);
    border-radius: 23px;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #d0e6ff;
    transition: var(--smooth-transition);
    padding: 15px;
    margin: 15px;
    box-shadow: var(--shadow);

    .guildIcon {
        width: 64px;
        height: 64px;
        border-radius: 12px;
        object-fit: cover;
        border: 2px solid #5599ff;
        background-color: #1a263f;
    }

    .guildInfo {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        position: relative;

        .guildName {
            font-size: 1.25rem;
            font-weight: 600;
            color: var(--color-muted);
            white-space: nowrap;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            span {
                max-width: 85%;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        .buttonsContainer {
            display: flex;
            gap: 8px;
            overflow-x: auto;
            height: min-content;
            overflow-y: hidden;
        }
    }

    .guildStar {
        display: flex;
        align-self: start;
        
        svg {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

}
.guildCard:hover {
    transform: translateY(-4px);
}