.header {
    background: var(--color-muted);
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
    user-select: none;
    width: 100vw;
    justify-content: space-between;
    height: 72px;
    border-bottom: var(--outline);
    z-index: 10;
    position: relative;
    text-shadow: 1px 1px 7px #00000026;
    color: white;
    transition: var(--smooth-transition);

    @media (max-width: 500px) {
        padding: 1rem .5rem;
    }

    @media screen and (max-height: 500px) and (orientation: landscape) {
        height: 40px;
        background: linear-gradient(180deg, hsl(0deg 0% 36.23%), transparent);
        box-shadow: none;
        border: none;
        position: fixed;
    }

    > * {
        flex-grow: 1;
    }
}

.burgerMenu {
    padding: 15px;
    height: 100%;
    justify-content: flex-start;
    align-items: center;

    @media screen and (max-height: 500px) and (orientation: landscape) {
        display: flex;
    }

    svg {
        width: 40px;
        cursor: pointer;

        @media screen and (max-height: 500px) and (orientation: landscape) {
            display: 20px;
        }
    }
}

.left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;

    @media (max-width: 350px) {
        gap: 12px;
    }

    @media screen and (max-height: 500px) and (orientation: landscape) {
        display: none;
    }

    > * {
        padding: 15px;
    }

    span {
        color: white;
    }

    .item {
        display: flex;
        align-items: center;
        gap: 7px;
        text-decoration: none;
        height: 100%;
        
        span {
            position: relative;
        }

        span::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -4px;
            height: 2px;
            width: 0%;
            background: white;
            /* ou um gradiente se quiser */
            transition: width 0.3s ease;
        }
    }
    .item:hover {
        span::after {
            width: 100%;
        }
    }

    #premium {
        span {
            background: linear-gradient(90deg, rgba(0, 255, 225, 1) 18%, rgba(72, 232, 72, 1) 84%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            position: relative;
            display: inline-block;
        }
        span::after {
            background: linear-gradient(90deg, rgba(0, 255, 225, 1) 18%, rgba(72, 232, 72, 1) 84%);
        }
    }
}

.centerTitle {
    font-family: 'Dogica Pixel', Arial, Helvetica, sans-serif;
    justify-self: center;
    justify-content: center;
    height: 100%;
    align-items: center;

    @media screen and (max-height: 500px) and (orientation: landscape) {
        display: flex;
    }
}

.right {
    margin-left: auto;
    gap: 7px;
    width: min-content;
    margin: 0px;
    overflow: hidden;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    
    > * {
        padding: 15px;
    }

    .loggedUser {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        gap: 10px;

        .userName {
            font-weight: 500;
            color: #ffffff;
            /* width: 0px; */
            max-width: min-content;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: relative;

            @media screen and (max-height: 500px) and (orientation: landscape) {
                display: none;
            }
        }
        .userName::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -4px;
            height: 2px;
            width: 0%;
            background: white;
            /* ou um gradiente se quiser */
            transition: width 0.3s ease;
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            border: var(--outline);
        }

        a {
            display: flex;
            align-items: center;
        }
    }
    .loggedUser:hover .userName::after {
        width: 100%;
    }

    div[data-tippy-root] {
        padding: 0;
    }
}

.redstyle:hover {
    background-color: red;
    color: white;

    span {
        color: white;
    }
}

.bluestyle:hover {
    background-color: rgb(53, 164, 255);
    color: white;

    span {
        color: white;
    }
}