.toggleSwitch {
    display: none;
}

.toggleSwitch::before {
    transition: var(--smooth-transition);
    content: 'a';
    background-color: red;
}
.toggleSwitch::after {
    transition: var(--smooth-transition);
    content: 'b';
    background-color: blue;
}

.toggleSwitch:checked::before {
    transition: var(--smooth-transition);
    content: 'c';
    background-color: white;
}
.toggleSwitch:checked::after {
    transition: var(--smooth-transition);
    content: 'd';
    background-color: black;
}