.profile{
  --bg-color: #141c2f;
  --bg-color-secundaria: #1f2a44;
}

.divPag {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.perfil{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.moreInfo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100vw;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  width: 100vw;
  background-color: #141c2f;
  color: #fff;
  min-height: 100vh;
}

.pixelsInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--bg-color-secundaria);
  border: 1px solid var(--bg-color);
  border-radius: 12px;
  color: #d0e6ff;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 25vw;
  height: 12vh;
  padding: 5px;
  gap: 1px;
}

.pixelsText {
    font-size: 1.25rem;
    font-weight: 600;
    color: #9dcaff;
    max-width: 100%;
    text-overflow: ellipsis;
    height: auto;
    text-align: center;
}

.bgUser {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.avatarCircle {
  width: 180px;
  height: 180px;
  border: 15px solid #141c2f; /* Cor do fundo para separação */
  border-radius: 50%;
  margin-top: -90px;
  background-color: #141c2f; /* Evita transparência */
}

.avatarCircle img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.displayName {
  font-size: 2rem;
  margin: 1rem 0 0.2rem;
}

.username {
  font-size: 1rem;
  color: #9dcaff;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.description {
  position: relative;
}

.description textarea {
  width: 25vw;
  height: 12vh;
  border-radius: 6px;
  padding: 0.5rem;
  resize: none;
  border: none;
  font-size: 1rem;
  color: #fff;
  background-color: var(--bg-color-secundaria);
}

.guildCard, .description span, .pixelsInfo{
  min-width: 225px;
}

.description span {
  display: block;
  width: 25vw;
  height: 12vh;
  border-radius: 6px;
  padding: 0.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: var(--bg-color-secundaria);
  white-space: pre-wrap;
  overflow-y: auto;
  position: relative;
}

.pixels {
  color: #ccc;
  font-size: 1rem;
  text-align: center;
}

.premiumIcon {
  font-size: 1.2rem;
}


.guildCard {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--bg-color-secundaria);
    border: 1px solid var(--bg-color);
    border-radius: 12px;
    color: #d0e6ff;
    transition: transform 0.2s, box-shadow 0.2s;
    padding: 19px;
    width: 25vw;
    height: 12vh;
}

.guildCard:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.guildIcon {
    width: 64px;
    height: 64px;
    border-radius: 12px;
    object-fit: cover;
    border: 2px solid #5599ff;
    background-color: #1a263f;
}

.guildInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    width: 0%;
}

.guildName {
    font-size: 1.25rem;
    font-weight: 600;
    color: #9dcaff;
    /* white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; */
    text-align: start;
}

.guildLink {
    align-self: flex-start;
    background-color: #0075d5;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.guildLink:hover {
    background-color: #003dcc;
}

.viewPixelsButton {
  /* padding: 0.7rem 1.5rem; */
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.3s;  
  text-align: center;
  display: flex;
  align-items: center;
  height: 40%;
}

.viewPixelsButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  background: linear-gradient(135deg, #5599ff, #8e44ff);
}
.pixelsInfo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
/* 465px */
@media (max-width: 705px) {
  .guildCard, .description span, .pixelsInfo{
  min-height: 20dvh;
}
  .serverInfo{
  order: 1;
  }

  .description{
  order: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 25dvh;
  
}

  .pixelsInfo{
  order: 2;
  }

}