.main {

    div {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    
}

.radioSelector {
  background: var(--frosted-glass);
  border: var(--outline);
  border-radius: 12px;
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  box-shadow: var(--shadow);
  min-width: fit-content;
  min-height: max-content;
  flex-shrink: 0;
  height: max-content;

  input {
    display: none;
  }

  label {
    flex-grow: 1;
    padding: 10px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    transition: var(--smooth-transition);
    color: currentColor;
    max-width: max-content;

    svg {
        filter: drop-shadow(1px 1px 5px var(--color-text-dark));
    }
  }

  label:hover {
    background: var(--color-hover);
    scale: var(--hover-scale);
  }

  input:checked+label {
    background-color: var(--color-accent);
  }
}