/* components/Canvas/Canvas.module.css */

.canvasContainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.canvasWrapper {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    overflow: hidden;
}

.mainCanvas {
    display: block;
    cursor: default;
}

.overlayCanvas {
    display: block;
    pointer-events: none;
}

/* Ensure proper touch handling */
.canvasWrapper {
    touch-action: none;
}

.canvasTools {
    right: 0;
    bottom: 0px;
    position: fixed;
    margin: 10px;
    cursor: pointer;
    pointer-events: all;
    z-index: 20;
}

.bottomCanvasTools{
    margin-top: 7px;
    color: black;
    display: flex;
    gap: 5px;
    .tool{
        cursor: pointer;
    }
}