.main {

    div {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .devices {
        align-items: center;
        flex-direction: row;
        
        label {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
    
}