.main {

    div {
        display: flex;
        flex-direction: column;
        gap: 6px;

        input[type="text"], input[type="datetime-local"] {
            border: var(--outline);
            border-radius: 12px;
            padding: 10px;
            box-shadow: var(--shadow);
            transition: var(--smooth-transition);
        }
        input[type="text"]:hover, input[type="datetime-local"]:hover {
            scale: var(--hover-scale);
        }
    }

    .devices {
        align-items: center;
        flex-direction: row;
        
        label {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
    
}