.main {
  padding: 10px;
  width: 100dvw;

  h1 {
    font-size: min(4dvw,3rem);
    margin-bottom: 20px;
    text-align: center;
    color: var(--color-muted);
    font-family: 'Dogica Pixel Bold', Arial, Helvetica, sans-serif;
  }

  fieldset {
    border: 1px solid var(--color-mid);
    border-radius: 28px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: var(--shadow);
    max-width: 95dvw;

    legend {
      color: var(--color-muted);
      font-size: 1.2rem;
      padding: 0 10px;

      strong {
        font-family: 'Dogica Pixel', Arial, Helvetica, sans-serif;
      }
    }
  }

  label {
    display: block;
    margin-top: 10px;
    font-size: 1rem;
  }

  input[type="number"], textarea {
    width: 100%;
    padding: 10px;
    background-color: var(--color-input-bg);
    color: white;
    border: 1px solid var(--color-mid);
    border-radius: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 1rem;
    resize: vertical;
  }

  input[type="color"] {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
  }

  textarea {
    font-family: monospace;
  }
}

.container {
  padding: 30px;
  max-width: 800px;
  margin: 0 auto;
  color: var(--color-muted);
}

.colorContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .colorItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-mid);
    padding: 5px;
    border-radius: 17px;
    border: var(--outline);
    cursor: grab;
    gap: 10px;
  }
}

.flagList{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .flag{
    background-color: var(--color-mid);
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 100dvh;
    padding: 2px 8px;
    margin-right: 10px;
    color: hsla(0, 0%, 100%, 75%);
    border: var(--outline);
    transition: var(--smooth-transition);
    user-select: none;
    box-shadow: var(--shadow);
    gap: 3px;
  }
  .flag:has(svg:hover) {
    background-color: red;
  }
  .flag:hover {
    transform: translateY(-2px);
  }
  .flag svg{
    cursor: pointer;
  }
}

.footerButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 20px;
}

.pageSelector {
  background-color: var(--color-mid);
  border: var(--outline);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
  overflow: hidden;
  box-shadow: var(--shadow);

  input {
    display: none;
  }

  label {
    flex-grow: 1;
    padding: 10px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    transition: var(--smooth-transition);
  }

  label:hover {
    background-color: var(--color-mid-hover);
    scale: var(--hover-scale);
  }

  input:checked + label {
    background-color: var(--color-accent);
    color: white;
  }
}