.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    max-width: 100dvw;

    img {
      width: 100px;
      height: auto;
      margin-bottom: 20px;
    }

    h1 {
      font-size: 2rem;
      font-weight: bold;
      color: var(--color-muted);
      font-family: 'Dogica Pixel', Arial, Helvetica, sans-serif;
      text-align: center;
    }
  }

  .credits {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    width: 100dvw;
    justify-content: center;
    user-select: none;

    .staff {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      h2 {
        font-size: large;
        font-family: 'Dogica Pixel', Arial, Helvetica, sans-serif;
      }

      a {
        opacity: 75%;
      }
    }
  }

}