.main .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  height: -webkit-fill-available;
  margin: 15px;
  gap: 15px;
}

.main .title h1 {
  font-size: min(9dvw,3rem);
  font-weight: bold;
  font-family: 'Dogica Pixel Bold', Arial, Helvetica, sans-serif;
  color: var(--color-muted);
}

.main .title h5 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-muted);
  opacity: 0.5;
}

.main .title a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

    background-color: var(--color-accent);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: var(--smooth-transition);
    gap: 8px;
    box-shadow: var(--shadow);
    border: var(--outline);
}

.main .title a:hover {
    scale: var(--hover-scale);
    background-color: var(--color-darker);
}

.servers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.guildCard {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--color-mid);
    border: var(--outline);
    border-radius: 23px;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #d0e6ff;
    transition: var(--smooth-transition);
    padding: 15px;
    width: min(450px, 90dvw);
    margin: 15px;
    box-shadow: var(--shadow);
}

.guildCard:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.guildIcon {
    width: 64px;
    height: 64px;
    border-radius: 12px;
    object-fit: cover;
    border: 2px solid #5599ff;
    background-color: #1a263f;
}

.guildInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    width: 0%;
}

.guildName {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-muted);
    white-space: nowrap;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.guildLink {
    align-self: flex-start;
    background-color: var(--color-accent);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: var(--smooth-transition);
    border: var(--outline);
}

.guildLink:hover {
    background-color: var(--color-darker);
    scale: var(--hover-scale);
}