.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100dvw;
  background: linear-gradient(132deg, var(--user-color-primary), var(--user-color-secondary));
  color: white;
  flex-grow: 1;

  .wallpaper {
    height: 100%;
    position: relative;
    width: 100%;
    height: 150px;

    img {
      width: 100%;
      height: 150px;
      min-height: 150px;
      min-width: 100%;
      object-fit: cover;
      background-color: var(--color-mid);
    }

    input[type="file"] {
      display: none;
    }

    .editPencil {
      backdrop-filter: var(--frosted-glass-blur);
      border: var(--outline);
      border-radius: 8px;
      box-shadow: var(--shadow);
    }
  }

  .page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100dvw;
    position: relative;
    border-top: 1px solid var(--user-color-border, var(--color-outline));

    @media (max-width: 768px) {
      align-items: center;
      flex-direction: column;
    }

    .profile{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
      margin: 0 20px;
      gap: 15px;

      @media (max-width: 768px) {
        align-items: center;
        margin: unset;
      }

      .avatar {
        width: 180px;
        height: 180px;
        border: 5px solid var(--user-color-primary, var(--color-darkest));
        border-radius: 50%;
        margin-top: -90px;
        background-color: var(--user-color-primary, var(--color-darkest));
        z-index: 1;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .icon {
        width: 180px;
        height: 180px;
        border: 5px solid var(--color-darkest);
        border-radius: 17px;
        margin-top: -90px;
        background-color: var(--color-darkest);
        z-index: 1;

        img {
          width: 100%;
          height: 100%;
          border-radius: 12px;
          object-fit: cover;
        }
      }

      .iconFac {
        width: 180px;
        height: 180px;
        border: 5px solid var(--color-darkest);
        /* clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%); eu(commandbat) prefiro assim...*/
        /* clip-path:polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
        rotate: 45deg;
        margin: -90px 20px 20px 20px;
        background-color: var(--color-darkest);
        z-index: 1;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
          width: 140%;
          height: 140%;
          object-fit: cover;
          rotate: -45deg;
          aspect-ratio: 1 / 1;
        }
      }

      .name {
        gap: 8px;
        display: flex;
        flex-direction: column;

        .displayName {
          font-size: 1.2rem;
          font-family: 'Dogica Pixel', Arial, Helvetica, sans-serif;
          display: flex;
          align-items: center;
          color: var(--user-color-text, var(--color-text-light));
          width: max-content;
          max-width: 20dvw;
          overflow: hidden;
          text-overflow: ellipsis;

          @media (max-width: 768px) {
            max-width: 90dvw;
          }
        }

        .userName {
          font-size: 1rem;
          color: var(--user-color-text, var(--color-text-light));
          opacity: 75%;
          display: flex;
          align-items: center;
        }
      }

      .badges {
        display: flex;
        gap: 4px;
      }
    }

    .moreInfo{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: stretch;
      justify-content: flex-start;
      gap: 15px;
      max-width: 100dvw;
      padding-top: 10px;
      padding-right: 10px;
      width: -webkit-fill-available;

      @media (max-width: 768px) {
        flex-direction: column;
        margin-top: 10px;
        padding: 20px;
      }

      .infoBox {
        max-width: -webkit-fill-available;

        @media (max-width: 768px) {
          max-width: unset;
          min-height: 50px;
        }
      }

        #description {
          width: 100%;
          word-break: break-all;

          span, textarea {
            color: var(--user-color-text, var(--color-text-light));
            background: none;
            border: none;
            flex-grow: 1;
          }
        }

        #pixelsInfo {
          justify-content: space-between;
          align-items: center;
        }

        #ownerFac {
          justify-content: center;

          img {
            width: 30px;
            border-radius: 50%;
            border: var(--outline);
          }
        }

        #previewCanvas {
          justify-content: center;
        }

        #memberList {
          flex-direction: column;
          align-items: stretch !important;

          h1 {
            align-self: center;
          }

          /* Lista de membros */
          div {
            display: flex;
            flex-direction: column;

            /* Cada usuário é um a */
            a {
              display: flex;
              justify-content: space-between;
              transition: var(--smooth-transition);
              align-items: center;
              min-height: 1.5rem;

              .identity {
                display: flex;
                gap: 8px;

                img {
                  width: 15px;
                  height: 15px;
                  border-radius: 50%;
                  border: var(--outline);
                }
              }

              .role {
                background: rgb(103, 148, 103);
                padding: 3px 8px;
                border-radius: 12px;
                border: var(--outline);
              }
            }
            a:hover {
              scale: var(--hover-scale);
            }
          }
        }

        #factionJoinIncentive {
          flex-direction: column;

          footer {
            display: flex;
            gap: 8px;
          }
        }

    }

    .editUserColors {
      position: absolute;
      right: 3px;
      top: -40px;
      height: 2rem;
      border-radius: 12px;
      box-shadow: var(--shadow);
      border: var(--outline);
      overflow: hidden;

      input[type="color"] {
          border: none;
          border-radius: 0;
          padding: 0;
          width: 2rem;
          height: 2rem;
          cursor: pointer;
      }
      input[type="color"]::after {
          content: "";
          width: 100px;
          height: 100px;
          display: flex;
      }
      #editPrimaryColor::after {
        background: var(--user-color-primary);
      }
      #editSecondaryColor::after {
        background: var(--user-color-secondary);
      }

      .paintIcon {
        position: absolute;
        justify-self: anchor-center;
        align-self: anchor-center;
        mix-blend-mode: difference;
        z-index: 1;
      }
    }
  }

  .saveChanges {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
  }

}

.infoBox {
  display: flex !important;
  align-items: center !important;
  gap: 1rem !important;
  border-radius: 22px !important;
  color: var(--user-color-text, var(--color-text-light)) !important;
  transition: var(--smooth-transition) !important;
  padding: 10px !important;
  border: 1px solid var(--user-color-border, var(--color-outline)) !important;
  background: var(--user-color-background-item, var(--color-mid)) !important;
  margin: 0 !important;
  box-shadow: var(--shadow) !important;
  position: relative !important;
  flex-grow: 1 !important;
}

.editPencil {
  padding: 5px;
  transition: var(--smooth-transition);
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.editPencil:hover {
  scale: var(--hover-scale);
}