#main {
    width: 100dvw;
    height: calc(100dvh - 72px);
    overflow: hidden;
    position: relative;
    touch-action: none;
    background: #eaeaea;
    user-select: none;

    @media screen and (max-height: 500px) and (orientation: landscape) {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
    }
}

.controls {
    position: absolute;
    bottom: 0;
    z-index: 2;
    background: var(--frosted-glass);
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 12px;
    box-shadow: var(--shadow);
    backdrop-filter: var(--frosted-glass-blur);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    @media (max-width: 768px) {
        border-radius: 0;
        width: 100dvw;
        max-width: 100dvw;
        margin: 0;
    }

    section {
        display: flex;
        align-items: center;
        gap: 8px;

        .nerdDate {
            display: flex;
            flex-direction: column;
        }

        .slider {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .nerdModeToggle {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        transition: var(--smooth-transition);
    }
    .nerdModeToggle:hover {
        scale: var(--hover-scale);
    }
}