#main {
    width: 100dvw;
    height: calc(100dvh - 72px);
    overflow: hidden;
    position: relative;
    touch-action: none;
    background: #eaeaea;
    user-select: none;

    @media screen and (max-height: 500px) and (orientation: landscape) {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
    }
}

.controls {
    position: absolute;
    bottom: 0;
    z-index: 2;
    background: var(--frosted-glass);
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 12px;
    box-shadow: var(--shadow);
    backdrop-filter: var(--frosted-glass-blur);
    display: flex;
    align-items: center;
    gap: 10px;
}