@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@font-face {
  font-family: 'Franklin Gothic Medium';
  src: url('/fonts/OPTIFranklinGothic-Medium.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI Variable';
  src: url('/fonts/SEGUIVAR.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


::-webkit-scrollbar {
  height: 7px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.274);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 3px;
  transition: all 2s ease-in-out;
}

body {
  overflow-x: hidden;
  touch-action: none;
}

a {
  text-decoration: none;
}

a {
  color: unset;
  cursor: pointer;
}

@media (max-width: 720px) {
  .mobilehidden_720 {
    display: none;
  }
}

@media (max-width: 500px) {
  .mobilehidden_500 {
    display: none;
  }
}

@media (max-width: 420px) {
  .mobilehidden_420 {
    display: none;
  }
}

@media (max-width: 320px) {
  .mobilehidden_320 {
    display: none;
  }
}

/* glass effect */

.premiumOnly {
      position: relative;
      overflow: hidden;
      color: white;
      padding: 16px 32px;
      font-size: 18px;
      border: none;
      cursor: pointer;
      background: linear-gradient(to right, hsl(269.291 52.697% 52.745% /1), hsl(295.645 50% 51.373% /1), hsl(325.385 31.707% 51.765% /1)) !important;
      z-index: 1;
      background-color: inherit;
}


.premiumOnly .glassEffect {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    135deg,
    transparent 45%,
    rgba(255, 255, 255, 0.555) 48%,
    rgba(255, 255, 255, 0.555) 52%,
    transparent 55%
  );
  animation: moveDiagonal 3s linear infinite;
  pointer-events: none;
}


@keyframes moveDiagonal {
    0% {
      transform: translate(-150%, -150%);
    }
    100% {
      transform: translate(100%, 100%);
    }
}

/* remove isso aqui ate o fim */
.premiumOnly::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    270deg,
    hsl(269.291 52.697% 52.745% /1),
    hsl(295.645 50% 51.373% /1),
    hsl(325.385 31.707% 51.765% /1),
    #0075d5
  );
  background-size: 600% 600%;
  animation: premiumGradient 6s ease infinite;
  z-index: -1;
  filter: blur(12px);
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

@keyframes premiumGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
