@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@font-face {
  font-family: "Franklin Gothic Medium";
  src: url("/fonts/OPTIFranklinGothic-Medium.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI Variable";
  src: url('/fonts/SegoeUIVariableStaticDisplay.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dogica Pixel";
  src: url("/fonts/dogicapixel/dogicapixel.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dogica Pixel Bold";
  src: url("/fonts/dogicapixel/dogicapixelbold.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Variáveis globais (consistência) */
:root {
  /* Cores */
  --color-outline: hsla(0deg, 0%, 100%, 10%);
  --color-accent: hsl(207, 100%, 42%);
  --color-accent-hover: hsl(211, 100%, 36%);
  --color-experimental-accent: hsl(47, 100%, 42%);
  --color-experimental-accent-hover: hsl(47, 100%, 36%);
  --color-darker: hsl(217.99, 100%, 44.9%);
  --color-mid-hover: hsl(223, 29%, 31%);
  --color-mid: hsl(222, 26%, 22%);
  --color-input-bg: hsl(225, 36%, 17%);
  --color-darkest: hsl(222, 40%, 13%);
  --color-bg: var(--color-darkest);
  --color-muted: hsl(212, 100%, 75%);
  --color-text-dark: hsla(0, 0%, 25%, 75%);
  --color-text-light: hsla(0, 0%, 100%, 75%);
  --color-hover: rgb(228, 228, 228);
  --color-canvas-bg: hsl(0, 0%, 92%);
  --color-header: var(--color-muted);
  /* Degradês */
  --frosted-glass: linear-gradient(45deg, hsla(0deg, 0%, 96.08%, 96.86%), hsla(0deg, 0%, 100%, 90.98%));
  /* Atributos */
  --shadow: 2px 2px 7px hsla(0, 0%, 0%, 14.1%);
  --outline: 1px solid var(--color-outline);
  --smooth-transition: all .4s ease;
  /* Valores */
  --hover-scale: 1.05;
  --frosted-glass-blur: blur(5px);
}

/* Temas */
[data-theme=TRUE_DARK] {
  --color-bg: radial-gradient(circle at 60% 100%, var(--color-darkest), #0a0d16);
  --color-canvas-bg: var(--color-bg);
  --color-text-dark: var(--color-text-light);
  --color-hover: hsl(0, 0%, 13%);
  --frosted-glass: linear-gradient(45deg, hsl(0deg 0% 16% / 50%), hsl(0deg 0% 18.29% / 81%))
}
[data-theme=LIGHT] {
  --color-outline: hsl(0deg 0% 0% / 12%);
  --color-mid-hover: hsl(0, 0%, 100%);
  --color-hover: hsl(0, 0%, 100%);
  --color-mid: hsl(0, 0%, 100%);
  --color-input-bg: hsl(0, 0%, 100%);
  --color-darkest: hsl(0deg 0% 100%);
  --color-muted: var(--color-accent);
  --color-canvas-bg: hsl(0, 0%, 100%);
  --color-text-light: var(--color-text-dark);
  --color-header: var(--frosted-glass);
}
[data-theme=BLACKOUT] {
  --color-outline: hsla(0, 0%, 100%, 0.1);
  --color-mid-hover: hsl(0, 0%, 13%);
  --color-hover: hsl(0, 0%, 13%);
  --color-mid: hsl(0, 0%, 0%);
  --color-input-bg: hsl(0, 0%, 0%);
  --color-darkest: hsl(0, 0%, 0%);
  --color-canvas-bg: var(--color-bg);
  --color-text-dark: var(--color-text-light);
  --frosted-glass: linear-gradient(45deg, hsla(0deg, 0%, 4%, 96.86%), hsla(0deg, 0%, 0%, 90.98%));
  --color-header: var(--frosted-glass);
}
[data-theme=OLD] {
  --color-header: #7f99cb;
  --color-darkest: #293146;
  --color-mid: #141c2f;
  --color-muted: #9dcaff;
  --color-accent: #0075d5;
  --color-accent-hover: #0054e5;
  --frosted-glass: white;
  --color-outline: transparent;
  --color-canvas-bg: rgb(204, 204, 204);
  * {
    border-radius: 8px !important;
  }
}
[data-theme=ARCADE] {
  --color-outline: hsla(0, 0%, 100%, 0.1);
  --color-mid-hover: hsl(0, 0%, 13%);
  --color-hover: hsl(0, 0%, 13%);
  --color-mid: hsl(0, 0%, 0%);
  --color-input-bg: hsl(0, 0%, 0%);
  --color-darkest: hsl(0, 0%, 0%);
  --color-canvas-bg: var(--color-bg);
  --color-text-dark: var(--color-text-light);
  --frosted-glass: linear-gradient(45deg, hsla(0deg, 0%, 4%, 96.86%), hsla(0deg, 0%, 0%, 90.98%));
  --color-header: var(--frosted-glass);
  --outline: 2px solid var(--color-outline);
  --color-accent: hsl(125, 100%, 64%);
  --color-muted: hsla(125, 100%, 64%, 0.649);
  * {
    border-radius: 0 !important;
    font-family: 'Dogica Pixel' !important;
    font-size: x-small;
  }
}

::-webkit-scrollbar {
  height: 7px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: hsla(0, 0%, 0%, 27.4%);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 3px;
  transition: var(--smooth-transition);
}

select, input[type=text], input[type=number], input[type=datetime-local], input[type=date], textarea {
  border: var(--outline);
  filter: drop-shadow(var(--shadow));
  box-shadow: inset 0px 0px 8px 1px #ffffff00;
  transition: var(--smooth-transition);
  background: unset;
  border-radius: 4px;
  color: var(--color-text-dark);
}

select:hover, input[type=text]:hover, input[type=datetime-local]:hover, input[type=date]:hover, input[type=number]:hover, textarea:hover {
  box-shadow: inset 0px 0px 8px 3px #ffffff1a;
}

select option {
  background: var(--color-hover, white);
  color: var(--color-text-dark, black);
}

body {
  overflow-x: hidden;
  /* touch-action: none; */
}

a {
  text-decoration: none;
}

a {
  color: unset;
  cursor: pointer;
}

input[type="color"] {
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 12px;
  box-shadow: var(--shadow);
  appearance: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

input[type="color"]::-moz-color-swatch {
  border: none;
}

.mobileOnly {
  display: none !important;

  @media (max-width: 720px) {
    display: flex !important;
  }

  @media screen and (max-height: 500px) and (orientation: landscape) {
    display: flex !important;
  }
}

@media (max-width: 720px) {
  .mobileHidden_720 {
    display: none !important;
  }
}

@media (max-width: 500px) {
  .mobileHidden_500 {
    display: none;
  }
}

@media (max-width: 420px) {
  .mobileHidden_420 {
    display: none;
  }
}

@media (max-width: 320px) {
  .mobileHidden_320 {
    display: none;
  }
}

/* glass effect */

.premiumOnly {
  position: relative;
  overflow: hidden;
  color: white;
  border: none;
  cursor: pointer;
  background: linear-gradient(to right,
      hsl(269.291 52.697% 52.745% /1),
      hsl(295.645 50% 51.373% /1),
      hsl(325.385 31.707% 51.765% /1)) !important;
  z-index: 1;
  background-color: inherit;
}

.premiumOnly .glassEffect {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(135deg,
      transparent 45%,
      rgba(255, 255, 255, 0.1) 48%,
      rgba(255, 255, 255, 0.1) 52%,
      transparent 55%);
  animation: moveDiagonal 4s linear infinite;
  pointer-events: none;
}

@keyframes moveDiagonal {
  0% {
    transform: translate(-150%, -150%);
  }

  100% {
    transform: translate(100%, 100%);
  }
}

/* remove isso aqui ate o fim */
.premiumOnly::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 300%;
  height: 250%;
  background: linear-gradient(270deg,
      hsl(269.291 52.697% 52.745% /1),
      hsl(295.645 50% 51.373% /1),
      hsl(325.385 31.707% 51.765% /1),
      hsl(207 100% 42% /1));
  background-size: 600% 600%;
  animation: premiumGradient 6s ease infinite;
  z-index: -1;
  filter: blur(12px);
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

@keyframes premiumGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.link:hover {
  text-decoration: underline;
}


.pixelate {
  image-rendering: optimizeSpeed;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  /* Safari específico */
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: crisp-edges;
  /* Padrão */
  image-rendering: pixelated;
  /* Fallback */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE */
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* remove vercel tooltip */
.KgfssQl8RzJGwFogbANP {
  display: none !important;
}

/* animations */
.showRight {
  animation: showRight 0.4s ease;
  /*-webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.25);
    box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.25);*/
}

.showLeft {
  animation: showLeft 0.4s ease;
  /*-webkit-box-shadow: -10px 10px 5px -4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -10px 10px 5px -4px rgba(0, 0, 0, 0.25);
    box-shadow: -10px 10px 5px -4px rgba(0, 0, 0, 0.25);*/
}

.showTop {
  animation: showTop 0.4s ease;
  /*-webkit-box-shadow: -10px 10px 5px -4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -10px 10px 5px -4px rgba(0, 0, 0, 0.25);
    box-shadow: -10px 10px 5px -4px rgba(0, 0, 0, 0.25);*/
}

.showBottom {
  animation: showBottom 0.4s ease;
  /*-webkit-box-shadow: -10px 10px 5px -4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -10px 10px 5px -4px rgba(0, 0, 0, 0.25);
    box-shadow: -10px 10px 5px -4px rgba(0, 0, 0, 0.25);*/
}

@keyframes showRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes showLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes showTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes showBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}